         main, nav, footer {
            width: 960px;
            padding:20px;
            margin: 0 auto; /* This aligns the section in the center */
        }
        h1{
            text-align: center;
            text-decoration: underline;
        }
        main{
            background-color: #f0ffff;
        }